# Entornos virtuales
env/
venv/
*.env

# Archivos de base de datos local (como SQLite)
db.sqlite3

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de log
*.log
*.pot
*.py[co]
*.so
*.egg
*.egg-info
*.orig

# Configuración de VSCode
.vscode/

# Archivos de Docker
*.pid

# Ignora también el archivo específico .env.dev
.env.dev
