<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="container">
    <div class="login-container">
        <h2 class="text-center login-title">Bienvenido de vuelta!</h2>
        <p class="text-center mb-4">Iniciar Sesión</p>
        
        <form method="POST" action="{% url 'login' %}">
            <div class="form-group">
                <label for="email">Ingrese su correo electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="correo@ejemplo.com" required>
            </div>
            
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" required>
            </div>
            
            <div class="form-check center-content">
                <input type="checkbox" class="form-check-input" id="remember" name="remember">
                <label class="form-check-label" for="remember">No cerrar sesión</label>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block mt-3">Iniciar Sesión</button>
            
            <a href="{% url 'password_reset' %}" class="forgot-password">¿Olvidaste tu contraseña? Haz click aquí!</a>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
