{% extends 'dashboard/base_dashboard.html' %}

{% block content %}
    <h1>Generar Reportes Financieros</h1>
    <hr>

    <!-- Filtro de búsqueda -->
    <div class="row mb-4">
        <div class="col-md-12">
            <form method="get" class="d-flex gap-2">
                <!-- Búsqueda -->
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                    <input type="text" name="search" class="form-control" placeholder=" Cliente Nombre Buscar..." value="{{ search }}">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
                {% if search %}
                    <a href="{% url 'reportes:reportes' %}" class="btn btn-secondary">Limpiar</a>
                {% endif %}
            </form>
        </div>
    </div>

    {% if ordenes_despacho %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 400px;">ID de la Orden</th>
                    <th>Cliente</th>
                    <th>Asignado a</th>
                    <th>Descargar</th> <!-- Columna adicional para los botones de descarga -->
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes_despacho %}
                    <tr>
                        <td>{{ orden.id }}</td>
                        <td>{{ orden.cliente.cliente_profile.nombre_supermercado }}</td>
                        <td>{{ orden.transportista.get_full_name }}</td>
                        <td>
                            <!-- Botones para descargar PDF y Excel -->
                            <a href="#" class="btn btn-sm btn-danger"><i class="fas fa-file-pdf"></i>  PDF</a>
                            <a href="#" class="btn btn-sm btn-success"><i class="fas fa-file-excel"></i> Excel</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No hay órdenes de despacho registradas.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron órdenes de despacho.</p>
    {% endif %}

    {% if is_paginated %}
    <!-- Texto con el rango de resultados -->
    <div class="text-start mt-3">
        Mostrando {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ page_obj.paginator.count }} resultados.
    </div>
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; Primera</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
            {% endif %} 

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
