
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}
.login-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}
.form-check-label {
    font-size: 0.9rem;
}
.forgot-password {
    font-size: 0.9rem;
    text-align: center;
    display: block;
    margin-top: 1rem;
}
.center-content {
    text-align: center;
}
